@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.logo-nintendo {
    width: 105px;
}

.search {
    width: 280px;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    border-style: none;
}

.search:hover::placeholder {
    color: rgb(230, 0, 18);
}

.search, 
.all-categories:focus {
    outline: none;
}

.all-categories {
    border-style: none;
    font-size: 14px;
    font-weight: 700;
}

.all-categories option {
    color: #000;
}


.ul-header {
    list-style-type: none;
    margin-left: 400px;
}

.ul-header li:not(:last-child)  { 
    margin-right: 20px;
    font-size: 14px;
}

.all-categories:hover,
.ul-header li:hover,
.linea:hover,
 nav a:hover {
    color: rgb(230, 0, 18);
}

.linea {
    border-bottom: 1px solid;
    margin-left: 18px;
}

.separate {
    position: absolute;
    top: 50px;
    margin-left: 104px;
    width: 100%;
    height: 0.2px;
}

svg {
    margin-right: 7px;
    align-items: center;
}

svg:hover {
    fill: red;
}

.nintendo-sport {
    width: 100%;
}

nav {
    margin-left: 230px;
    padding: 10px;
}

nav a {
    
    margin-right: 65px;
    font-weight: 700;
}

.sect-buynow {
    padding: 24px;
    margin-bottom: 30px;
}

h1 {
    margin-right: 40px;
    font-size: 28px;
}

.Buynow {
    padding: 10px;
    height: 50px;
    width: 120px;
    font-size: 17px;
    color: white;
    background-color: rgb(230, 0, 18);
    border-style: none;
    font-weight: 700;
    border-radius: 6%;
}

.separate-2 {
    margin-left: 25px;
    margin-right: 25px;
}

.esrb-logo {
    width: 45px;
    margin-left: 390px;
}

p {
    font-size: 12px;
    margin-left: 10px;
}

/*Section Elio style */

.section{
    display: flex;
    width:100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items:center;
}

.Box-features {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-top: 2rem;
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-width: 0px 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(218, 218, 218);
    border-bottom-color: rgb(218, 218, 218);
    border-left-color: rgb(218, 218, 218);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 0px 1rem;
    

}

.immagine-box {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
}
.box-h3 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0px;
    overflow: hidden;
    height: calc(2.8em);
    padding-left: 0.375rem;
    color: black;
}



a:hover {
    color: red;
}

span  {
    padding-left: 0.375rem;
    border-left: 3px solid rgb(230, 0, 18);
    color: black;
    
}

