
/* Sezione CSS per Navbar -- Autore: Massimo Caser*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
}


.d-flex {
    display: flex;
    
    
}

.align-items-center {
    align-items:center;
}

.container-1 {
    justify-content: space-between;

}


.logo-nintendo {
    width: 105px;
}


.search {
    width: 280px;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    border-style: none;
    cursor: pointer;
}

.search:hover::placeholder {
    color: rgb(230, 0, 18);
}

.search, 
.all-categories:focus {
    outline: none;
}

.all-categories {
    border-style: none;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.all-categories option {
    color: #000;
}


.ul-header {
    list-style-type: none;
    margin-right: 15px;
    cursor: pointer;
    
}

.ul-header li {
    font-size: 14px;
}

.ul-header li:not(:last-child)  { 
    margin-right: 20px;
}

.all-categories:hover,
.ul-header li:hover,
.linea:hover,
 nav a:hover {
    color: rgb(230, 0, 18);
}

.linea {
    border-bottom: 1px solid;
    margin-left: 18px;
    cursor: pointer;
}

.lente {
    cursor: pointer;
}

.separate {
    position: absolute;
    top: 50px;
    margin-left: 104px;
    width: 100%;
    height: 0.2px;
}

svg {
    margin-right: 7px;
    align-items: center;
}

svg:hover {
    fill: red;
}

.nintendo-sport {
    width: 100%;
}

nav {
    margin-left: 230px;
    padding: 10px;
}

nav a {
    
    margin-right: 65px;
    font-weight: 700;
}

.sect-buynow {
    padding: 24px;
    margin-bottom: 30px;
}

.sect-buynow h1 {
    margin-right: 25px;
    font-size: 28px;
}

.Buynow {
    padding: 10px;
    height: 50px;
    width: 120px;
    font-size: 17px;
    color: white;
    background-color: rgb(230, 0, 18);
    border-style: none;
    font-weight: 700;
    border-radius: 6%;
}

.Buynow:hover {
    cursor: pointer;
    width: 130px;
    height: 55px;
    margin-left: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(155, 12, 12);
}

.separate-2 {
    margin-top: 40px
}

.container-esrb {
    position: absolute;
    right: 30px;
}

.esrb-logo {
    width: 45px;
    margin-left: 400px;
    
}

.scritta-mild-violence {
    font-size: 12px;
    margin-left: 10px;
}

.cursore {
    cursor: pointer
}

@media  screen and (max-width: 768px) {
    .container-1 {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    
    .container-nav {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .logo-nintendo {
        width: 133px;
    }

    .sect-buynow {
        display: block;
    }

    .sect-buynow h1 {
        font-size: 18px;
        text-align: center;
    }

    .link-buynow {
        display: flex;
        justify-content: center;
        text-decoration: none;

    }

    .Buynow {
        padding: 10px;
        height: 55px;
        width: 330px;
        font-size: 17px;
        color: white;
        background-color: rgb(230, 0, 18);
        border-style: none;
        font-weight: 700;
        border-radius: 6%;
    }

    .Buynow:hover {
        cursor: pointer;
        width: 340px;
        height: 56px;
        margin-left: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: rgb(155, 12, 12);
    }

    .container-esrb {
        margin-top: 1rem;
    }

    .scritta-mild-violence {
        display: flex;
        width: 280px;
    }

    .separate {
        position: absolute;
        top: 50px;
        margin-left: 104px;
        width: auto;
        height: 0.2px;
    }

    .separate-2 {
        margin-top: 110px;
        margin-left: 1rem;
    }

}





/* Fine sezione CSS per Navbar -- Autore: Massimo Caser*/












/*Sezione CSS per Characters -- Autore: Massimo Caser*/




.container-characters {
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 5vw;
    width: 1148px;
    
}


.titolo-characters {
    grid-column: 1 / 5;
    grid-row: 1;
    font-size: 28px;
    text-align: left;
}

.sfondo-mario,
.mario {
    grid-column: 1 / 5;
    grid-row: 2;
}

.sfondo-zelda,
.zelda {
    grid-column: 2/ 5;
    grid-row: 2;
}

.sfondo-animal-crossing,
.animal-crossing {
    grid-column: 3 / 5;
    grid-row: 2;
}

.sfondo-kirby,
.kirby {
    grid-column: 4 / 5;
    grid-row: 2;
}

.sfondo-mario {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 200ms ease-in-out 0s;
    
}

.img-sfondo-mario {
    width: 100%;
}

.img-mario {
    width: 100%;
    display: block;
}

.mario:hover .img-mario {
    transform: scale(1.15);
}

.sub-container:hover .sfondo-mario {
    transform: scale(1);
}

.sfondo-zelda {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 200ms ease-in-out 0s;
}

.img-sfondo-zelda {
    width: 100%;
    
}

.img-zelda {
    width: 100%;
    display: block;
}

.zelda:hover .img-zelda {
    transform: scale(1.15);
}

.sub-container:hover .sfondo-zelda {
    transform: scale(1);
}

.sfondo-animal-crossing {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 200ms ease-in-out 0s;
}

.img-sfondo-animal {
    width: 100%;
}

.img-animal {
    width: 100%;
    display: block;
}

.animal-crossing:hover .img-animal {
    transform: scale(1.15);
}

.sub-container:hover .sfondo-animal-crossing {
    transform: scale(1);
}

.sfondo-kirby {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scale(1.15);
    transition: transform 200ms ease-in-out 0s;
}

.img-sfondo-kirby {
    width: 100%;
}

.img-kirby {
    width: 100%;
    display: block;
}

.kirby:hover .img-kirby {
    transform: scale(1.15);
}

.sub-container:hover .sfondo-kirby {
    transform: scale(1);
}

.container-card,
.container-card-2,
.container-card-3,
.container-card-4 {
    display: flex;
    flex-direction: column;
    width: 275px;
}



.sub-container {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    border-radius: 0.25rem;
    
}

.super-mario h2,
.scritta-zelda h2,
.scritta-animal-crossing h2,
.scritta-kirby h2 {
    font-size: 21px;
    margin-top: 0.5rem;
}

.super-mario {
    grid-column: 1 / 5;
    grid-row: 3;
}

.scritta-zelda {
    grid-column: 2 / 5;
    grid-row: 3;
}

.scritta-animal-crossing {
    grid-column: 3 / 5;
    grid-row: 3;
}

.scritta-kirby {
    grid-column: 4 / 5;
    grid-row: 3;
}

.separatore {
    margin-top: 5vw;
}

@media screen and (max-width: 768px) {
    .container-characters {
        grid-template-columns: 180px 180px;
        gap: 1rem;
        margin-left: 3vw;
        width: 392px;
    }

    .titolo-characters {
        grid-column: 1;
        grid-row: 1; 
    }

    .container-card {
        grid-column: 1;
        grid-row: 2;
    }

    .container-card-2 {
        grid-column: 2;
        grid-row: 2;
    }

    .container-card-3 {
        grid-column: 1;
        grid-row: 3;
    }

    .container-card-4 {
        grid-column: 2;
        grid-row: 3;
    }

    .container-card,
    .container-card-2,
    .container-card-3,
    .container-card-4 {
    display: flex;
    flex-direction: column;
    width: 180px;
    }
}




/*Fine sezione CSS per Characters -- Autore: Massimo Caser*/








/* Sezione di CSS per ONLINE STORE -- Autore: Lorenzo Curreli */

section#online_store{
    padding-top: 30px;
    height: 550px;
}


div#store{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1114px;
}

div#store a picture img{
    width: 100%;
}

div#store h1{
    font-weight: bold;
    text-align: left;
    padding-left: 0px;
    font-size: 28px;
    width:100%;
    margin-left: 0;
}

section#online_store a:hover{
    cursor:pointer;
}

div#shop_description p{
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    width: 80%;
    margin-top: 50px;
    float:left;
}

a input{
    margin-top: 50px; 
    box-sizing: border-box;
    background-color: red;
    color: white;
    width: 15%;
    text-align: center;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 4px;
    margin-left: 5%;    
}

a input:hover{   
    cursor: pointer;
    width: 16%;
    margin-left: 4%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(155, 12, 12);
}

/* Media queries per regolare sezione store */

@media screen and (max-width: 1220px) {
   
    div#store{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    
    section#online_store{
        margin-left: 5px;
        margin-right: 5px;
    }
    
}

@media screen and (max-width: 1025px) {

    section#online_store{
        margin-left: 5px;
        margin-right: 5px;
    }
    
    a input{     
        margin-top: 30px;    
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 4px;
        margin-left: 0;      
    }

    div#shop_description p{  
        width: 100%;
        margin-top: 50px;    
    }
    
    a input:hover{  
        cursor: pointer;
        width: 100%;
        margin-left: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(155, 12, 12);
    }
    
}
/* Sezione di CSS per ONLINE STORE -- Autore: Lorenzo Curreli */

/* Inizio Sezione footer -- Autore: Marco Spicuzza */

footer {
    display: block;
}

.brandbar {
    background-color: rgb(230, 0, 18);
    padding: 2.25rem 1rem;
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center end;
    -webkit-box-align: center;
}

@media (min-width: 768px) {
    .page-container {
        width: 100%;
        justify-items: end;
        grid-template-columns: auto 58px 58px 58px 58px;
    }
}

.page-container {
    color: rgb(255, 255, 255);
    display: grid;
    place-items: center;
    -webkit-box-align: center;
    gap: 2rem;
    max-width: 90rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto 200px 200px 200px 200px;
}

@media (min-width: 768px) {
    .page-container:first-child {
        justify-self: start;
        grid-column: span 1 / auto;
    }
}

.page-container:first-child {
    grid-column: span 4 / auto;
    justify-self: center;
}




.svg-icons {
    color: rgb(255, 255, 255);
}

/* Fine Sezione footer -- Autore: Marco Spicuzza */

/*Inizio Sezione di CSS per GAMING SYSTEMS -- Autore: Vincenzo Buonomo */

.gsection
{
    margin: 75px;
}

h1
{
    color: #484853;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.35;
}

.gamingsystems
{
    display: block;
    min-height: 1px;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
}

.imgamingsystems
{
    align-content: center;
    width: 100%;
    height: auto;
}

/*Fine Sezione di CSS per GAMING SYSTEMS -- Autore: Vincenzo Buonomo */









/* Sezione CSS per Featured -- Autore: Elio Castellini */


.section{
    display: flex;
    width:100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items:center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.intro-text { text-transform: uppercase;
    font-size: 20px;font-weight: bold;}

.Box-features  {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-top: 2rem;
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-width: 0px 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(218, 218, 218);
    border-bottom-color: rgb(218, 218, 218);
    border-left-color: rgb(218, 218, 218);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 0px 1rem;
    

}

.immagine-box {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
}
.box-h3 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0px;
    overflow: hidden;
    height: calc(2.8em);
    padding-left: 0.375rem;
    color:black;

}

a {
    color: #000;
}

.Box-features a:hover {
    color: red;
    text-decoration: none;
}

span  {
    padding-left: 0.375rem;
    border-left: 3px solid rgb(230, 0, 18);
    color: black;
    
}

/* Fine Sezione CSS per Featured -- Autore: Elio Castellini */

/* Sezione CSS per News -- Autore: Laurent Gagné */
.news-container {
    
    display: grid;
    grid-template-columns: 50px 1144px 50px;
    grid-template-areas: 
            ". title ."
            ". big-article ."
            ". small-article ."
            ". button .";
    row-gap: 20px;

}

.section-title {
    grid-area: title;
}
.big-article-container {
    grid-area: big-article;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-areas: " . bg-art1 bg-art2 . ";
    justify-items: center;
    gap: 2rem;

}
.bg-art1 {
    grid-area: bg-art1;
}
.bg-art2 {
    grid-area: bg-art2;
}
.big-article {
    max-width: 556px;
    max-height: 576px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.big-article img{
    width: 556px;
}

.small-article-container {
    grid-area: small-article;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    grid-template-areas: 
        ". sml-art1 sml-art2 sml-art3 sml-art4 .";
    justify-items: space-around;
    gap: 2rem;
}
.sml-art1 {
    grid-area: sml-art1;
}
.sml-art2 {
    grid-area: sml-art2;
}
.sml-art3 {
    grid-area: sml-art3;
}
.sml-art4{
    grid-area: sml-art4;
}
.small-article {
    max-width: 262px;
    max-height: 367px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 50px;

}
.small-article img {
    width: 262px;
}

.big-article p,
.small-article p{
    margin: 0;
    padding: 0;
}

.read-btn {
    color: red;
    text-decoration: none;
    border-bottom: 2px solid red;
    padding-bottom: 1px;
    max-width: fit-content;
}

.big-article:hover img, 
.small-article:hover img {
    opacity: .7;
}
.big-article:hover .read-btn, 
.small-article:hover .read-btn {
    color: darkred;
    border-bottom: 2px solid darkred;
}
.big-article:hover h4, 
.small-article:hover h4 {
    color: red;
}

.all-articles-btn {
    background-color: red;
    border-radius: 5px;
    color: white;
    width: 252px;
    height: 48px;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.6, 1.0, 0.8);
    text-decoration: none;
    font-size: larger;
    grid-area: button;
    text-align: center;
    padding-top: 10px;
    margin-left: 80px;
    margin-bottom: 30px;
}

.all-articles-btn:hover {
    width: 262px;
    height: 55px;
    padding-top: 15px;
    background-color: darkred;
}

/* Fine Sezione CSS per News -- Autore: Laurent Gagné */

/*Sezione Digital new releases-- Autore: Elio Castellini */


.distacco {
    margin-top: 3rem;
    margin-bottom: 3rem;
   

}

a:hover {
    color: red;
}

.intro-dig {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 20px;font-weight: bold;
    align-self: center;
}



.blocco  {
    display: flex;
    flex-basis: 100%;  
    width: 100%;
    justify-content: center;
    margin-top: 50px;
   
    
    
}

.inter-block {
    position: relative;
    margin-left: 0%;
    margin: bottom 0;
    margin-top: 50px;
    
   
}

.inter-block2 {
    position: relative;
    margin-left: 0%;
    margin-bottom: 0%;
    margin-top: 100px;
}

.interspazio {
    margin-right: 40px;
    border-bottom: 1px solid rgb(218, 218, 218);
    border-left: 1px solid rgb(218, 218, 218);
    border-right: 1px solid rgb(218, 218, 218);
    
    
}


.new {
    
    background-color: red;
    color: white;
    text-align: center;
    

}

.bundle {
    
    background-color: rgb(103, 7, 148);
    color: white;
    text-align: center;

}

.dollaro  {
    padding-left: 0.375rem;
    color: black;}

.digital-img {
    width: 260px;
    height: 146px;

} 
.sconto {
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: red;
    color: white;
    border-radius:10px 0px 0px 10px;
    width: max-content;
    font-size: small;
      

}

.svg-digital {
    margin-left: 250px;
    
}

/*Fine sezione Digital new releases-- Autore: Elio Castellini  */



/*Sezione Digital Best Sellers-- Autore: Lorenzo Curreli  */

div#digitaltitle, div#digit_section{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1114px;
}

div#digit_section
{
    display: flex;
    align-items: flex-end;
}
div#digitaltitle h1{
    font-weight: bold;
    text-align: left;
    padding-left: 0px;
    font-size: 28px;
    width:28%;
    margin-right: 0px;
    padding-right: 0px;
    float: left;
    border-right-style: solid;
    border-right-color: rgb(196, 193, 193);
    border-right-width: 1px;
}
div#digitaltitle p{
    padding-left: 0px;
    width: 72%;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
    text-align: left;
    padding-top: 30px;
}
div#digitaltitle p a{
    color: red;
    font-weight: bold;
    padding-left: 14px;
}
div#digital p a:hover{
    color:rgb(155, 12, 12);
}

.item_digit
{
    margin-top: 30px;
    padding-top: 0;
    margin-left: 0;
    padding-left: 0;
    margin-right: 30px;
    padding-right: 0;
    width: 260px;
    text-align: left;
    border-style: solid;
    border-color: rgb(189, 188, 188);
    border-width: 1px;
    border-top-style: none;
    
   }

   

div.item_digit h3{
    background-color: red;
    margin-left: 0;
    padding-left: 0;
    margin-top:0;
    color: white;
    margin-bottom: 0;
    padding-bottom: 3px;
    padding-top: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 12px;
    text-align: center;
}

div.item_digit:nth-of-type(2) h3{
    background-color: blue;
}
div.item_digit:nth-of-type(3) h3, div.item_digit:nth-of-type(4) h3{
    background-color: white;
    height: 18px;
}
div.item_digit:nth-of-type(3), div.item_digit:nth-of-type(4)
{
    border-style: none;
}
div.item_digit:nth-of-type(3) div, div.item_digit:nth-of-type(4) div
{
    border-style: solid;
    border-color: rgb(189, 188, 188);
    border-width: 1px;
    border-top-style: none;
}

div.item_digit p{
    margin-left: 10px;
    padding-left: 0px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}


div.item_digit p:first-of-type
{
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 60px;
    padding-top: 20px;
}

div.item_digit:first-of-type p:first-of-type, div.item_digit:nth-of-type(4) p:first-of-type
{
    padding-bottom: 60px;
}

div.item_digit p:nth-of-type(3)
{
    
    margin-top: 20px;
    font-weight: normal;
    margin-left: 10px;
    padding-left: 10px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: red;
    margin-bottom: 10px;
}

div.item_digit a{
    text-decoration: none;
    color: black;
}

div.item_digit a:hover{
    cursor: pointer;    
    color: red;
}

div.item_digit p:first-of-type:hover
{
    padding-top: 40px;
}

/*Fine sezione Digital Best Sellers-- Autore: Lorenzo Curreli  */
