
/* Sezione CSS per Navbar -- Autore: Massimo Caser*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
}


.d-flex {
    display: flex;
    
    
}

.align-items-center {
    align-items:center;
}

.container-1 {
    justify-content: space-between;

}


.logo-nintendo {
    width: 105px;
}


.search {
    width: 280px;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    border-style: none;
}

.search:hover::placeholder {
    color: rgb(230, 0, 18);
}

.search, 
.all-categories:focus {
    outline: none;
}

.all-categories {
    border-style: none;
    font-size: 14px;
    font-weight: 700;
}

.all-categories option {
    color: #000;
}


.ul-header {
    list-style-type: none;
    margin-right: 15px;
    
}

.ul-header li {
    font-size: 14px;
}

.ul-header li:not(:last-child)  { 
    margin-right: 20px;
}

.all-categories:hover,
.ul-header li:hover,
.linea:hover,
 nav a:hover {
    color: rgb(230, 0, 18);
}

.linea {
    border-bottom: 1px solid;
    margin-left: 18px;
}

.separate {
    position: absolute;
    top: 50px;
    margin-left: 104px;
    width: 100%;
    height: 0.2px;
}

svg {
    margin-right: 7px;
    align-items: center;
}

svg:hover {
    fill: red;
}

.nintendo-sport {
    width: 100%;
}

nav {
    margin-left: 230px;
    padding: 10px;
}

nav a {
    
    margin-right: 65px;
    font-weight: 700;
}

.sect-buynow {
    padding: 24px;
    margin-bottom: 30px;
}

.sect-buynow h1 {
    margin-right: 25px;
    font-size: 28px;
}

.Buynow {
    padding: 10px;
    height: 50px;
    width: 120px;
    font-size: 17px;
    color: white;
    background-color: rgb(230, 0, 18);
    border-style: none;
    font-weight: 700;
    border-radius: 6%;
}

.separate-2 {
    margin-top: 40px
}

.container-esrb {
    position: absolute;
    right: 30px;
}

.esrb-logo {
    width: 45px;
    margin-left: 400px;
    
}

p {
    font-size: 12px;
    margin-left: 10px;
}







/* Fine sezione CSS per Navbar -- Autore: Massimo Caser*/












/*Sezione CSS per Characters -- Autore: Massimo Caser*/




.characters {
    display: flex;
    justify-content: center;
}

.characters-h2 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
}

.personaggi {
    font-size: 28px;
}

.characters h2 {
    font-size: 21px;
        
}

.mario-top {
    margin-top: 10px;
}

.next-mario{
    margin-left: 15px;
    margin-top: 10px;
}

.card {
    width: 275px;
    height: 275px;
    background-image: url('https://assets.nintendo.com/image/upload/dpr_auto,f_auto,q_auto:best/v1/ncom/en_US/merchandising/Character%20Portals/1600x1600_NCOM_Home_Characters_Mario_BG');
    background-size: cover;
    border-radius: 1%;
    overflow: hidden;
    z-index: 1;
    margin-top: 18px;
    cursor: pointer;
    
}

.card-2 {
    width: 275px;
    height: 275px;
    background-image: url('https://assets.nintendo.com/image/upload/dpr_auto,f_auto,q_auto:best/v1/ncom/en_US/merchandising/Character%20Portals/1600x1600_NCOM_Home_Characters_TLOZ_BOTW_BG');
    background-size: cover;
    border-radius: 1%;
    overflow: hidden;
    z-index: 1;
    margin-left: 15px;
    margin-top: 77px;
    cursor: pointer;
}

.card-3 {
    width: 275px;
    height: 275px;
    background-image: url('https://assets.nintendo.com/image/upload/dpr_auto,f_auto,q_auto:best/v1/ncom/en_US/merchandising/Character%20Portals/1600x1600_NCOM_Home_Characters_Animal_Crossing_BG');
    background-size: cover;
    border-radius: 1%;
    overflow: hidden;
    z-index: 1;
    margin-left: 15px;
    margin-top: 77px;
    cursor: pointer;
}

.card-4 {
    width: 275px;
    height: 275px;
    background-image: url('https://assets.nintendo.com/image/upload/dpr_auto,f_auto,q_auto:best/v1/ncom/en_US/merchandising/Character%20Portals/1600x1600_NCOM_Home_Characters_Kirby_BG');
    border-radius: 1%;
    overflow: hidden;
    z-index: 1;
    margin-left: 15px;
    margin-top: 77px;
    cursor: pointer;
}

.img_card,
.img_card-2,
.img_card-3,
.img_card-4  {
    
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.card:hover .img_card,
.card-2:hover .img_card-2,
.card-3:hover .img_card-3,
.card-4:hover .img_card-4 {
    transform: scale(1.15);
    filter:blur(0.7);
}




/*Fine sezione CSS per Characters -- Autore: Massimo Caser*/








/* Sezione di CSS per ONLINE STORE -- Autore: Lorenzo Curreli */

section#online_store{
    padding-top: 30px;
    height: 550px;
}


div#store{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1114px;
}

div#store a picture img{
    width: 100%;
}

div#store h1{
    font-weight: bold;
    text-align: left;
    padding-left: 0px;
    font-size: 28px;
    width:100%;
    margin-left: 0;
}

section#online_store a:hover{
    cursor:pointer;
}

div#shop_description p{
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    width: 80%;
    margin-top: 50px;
    float:left;
}

div#shop_description p#shop{
    box-sizing: border-box;
    background-color: red;
    color: white;
    width: 15%;
    text-align: center;
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 4px;
    margin-left: 5%;    
}

p#shop:hover{    
    width: 16%;
    margin-left: 4%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: rgb(155, 12, 12);
}

/* Media queries per regolare sezione store */

@media screen and (max-width: 1220px) {
   
    div#store{
        text-align: center;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1025px) {

    section#online_store{
        margin-left: 5px;
        margin-right: 5px;
    }
    
    div#shop_description p#shop{        
        width: 100%;
        text-align: center;
        font-size: 18px;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 4px;
        margin-left: 0;      
    }

    div#shop_description p{  
        width: 100%;
        margin-top: 50px;    
    }
    
    p#shop:hover{   
        width: 100%;
        margin-left: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgb(155, 12, 12);
    }
    
}


/* Sezione di CSS per ONLINE STORE -- Autore: Lorenzo Curreli */







/*Inizio Sezione di CSS per GAMING SYSTEMS -- Autore: Vincenzo Buonomo */

.gsection
{
    margin: 75px;
}

h1
{
    color: #484853;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.35;
}

.gamingsystems
{
    display: block;
    min-height: 1px;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 8px;
}

.imgamingsystems
{
    align-content: center;
    width: 100%;
    height: auto;
}

/*Fine Sezione di CSS per GAMING SYSTEMS -- Autore: Vincenzo Buonomo */









/* Sezione CSS per Featured -- Autore: Elio Castellini */


.section{
    display: flex;
    width:100%;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items:center;
}

.intro-text { text-transform: uppercase;
    font-size: 20px;font-weight: bold;}

.Box-features {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding-top: 2rem;
    position: relative;
    -webkit-box-flex: 1;
    flex-grow: 1;
    border-width: 0px 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: rgb(218, 218, 218);
    border-bottom-color: rgb(218, 218, 218);
    border-left-color: rgb(218, 218, 218);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 0px 1rem;
    

}

.immagine-box {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
}
.box-h3 {
    font-size: 0.875rem;
    font-weight: 700;
    margin: 0px;
    overflow: hidden;
    height: calc(2.8em);
    padding-left: 0.375rem;
    color: black;
}



a:hover {
    color: red;
}

span  {
    padding-left: 0.375rem;
    border-left: 3px solid rgb(230, 0, 18);
    color: black;
    
}

/* Sezione CSS per Featured -- Autore: Elio Castellini */

/* Sezione CSS per News -- Autore: Laurent Gagné */
.news-container {
    
    display: grid;
    grid-template-columns: 50px 1144px 50px;
    grid-template-areas: 
            ". title ."
            ". big-article ."
            ". small-article ."
            ". . .";
    row-gap: 20px;

}

.section-title {
    grid-area: title;
}
.big-article-container {
    grid-area: big-article;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    grid-template-areas: " . bg-art1 bg-art2 . ";
    justify-items: center;
    gap: 2rem;

}
.bg-art1 {
    grid-area: bg-art1;
}
.bg-art2 {
    grid-area: bg-art2;
}
.big-article {
    max-width: 556px;
    max-height: 576px;
    
}
.big-article img{
    width: 556px;
}

.small-article-container {
    grid-area: small-article;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    grid-template-areas: 
        ". sml-art1 sml-art2 sml-art3 sml-art4 ."
        ". button . . . .";
    justify-items: space-around;
    gap: 2rem;
}
.sml-art1 {
    grid-area: sml-art1;
}
.sml-art2 {
    grid-area: sml-art2;
}
.sml-art3 {
    grid-area: sml-art3;
}
.sml-art4{
    grid-area: sml-art4;
}
.small-article {
    max-width: 262px;
    max-height: 367px;
}
.small-article img {
    width: 262px;
}
.big-article p,
.small-article p{
    margin: 0;
    padding: 0;
}

.read-btn {
    color: red;
    text-decoration: none;
    border-bottom: 2px solid red;
    padding-bottom: 1px;
    max-width: fit-content;
}
.big-article:hover img, 
.small-article:hover img {
    opacity: .7;
}
.big-article:hover .read-btn, 
.small-article:hover .read-btn {
    color: darkred;
    border-bottom: 2px solid darkred;
}
.big-article:hover h4, 
.small-article:hover h4 {
    color: red;
}

.all-articles-btn {
    background-color: red;
    color: white;
    width: 252px;
    height: 48px;
    transition: 2s;
    text-decoration: none;
    font-size: larger;
    grid-area: button;
    text-align: center;
}

.all-articles-btn:hover {
    width: 270px;
    height: 55px;
}



/* Sezione CSS per News -- Autore: Laurent Gagné */